@model PaymentApp.Models.Transfer

@{
    ViewData["Title"] = "Transfer_Send";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<!-- Content
============================================= -->
<div id="content" class="py-4">
    <div class="container">

        <!-- Steps Progress bar -->
        <div class="row mt-4 mb-5">
            <div class="col-lg-11 mx-auto">
                <div class="row widget-steps">
                    <div class="col-4 step active">
                        <div class="step-name">Details</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="#" class="step-dot"></a>
                    </div>
                    <div class="col-4 step disabled">
                        <div class="step-name">Confirm</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="#" class="step-dot"></a>
                    </div>
                    <div class="col-4 step disabled">
                        <div class="step-name">Success</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="#" class="step-dot"></a>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="fw-400 text-center mt-3">Send Money</h2>
        <p class="lead text-center mb-4">Send your money on anytime, anywhere in the world.</p>
        <div class="row">
            <div class="col-md-9 col-lg-7 col-xl-6 mx-auto">
                <div class="bg-white shadow-sm rounded p-3 pt-sm-4 pb-sm-5 px-sm-5 mb-4">
                    <h3 class="text-5 fw-400 mb-3 mb-sm-4">Personal Details</h3>
                    <hr class="mx-n3 mx-sm-n5 mb-4">
                    <!-- Send Money Form
                    ============================ -->
                    <form id="form-send-money" method="post">
                        <div class="mb-3">
                            <label for="emailID" class="form-label">Recipient Account Number</label>
                            <input asp-for="AccountNumberTaker" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label for="youSend" class="form-label">You Send</label>
                            <select asp-for="Currency" class="form-control" asp-items="ViewBag.Currency"></select>

                            <div class="input-group">
                                <span class="input-group-text">
                                    <i style='font-size:24px;color:green;' class='fas'>&#xf53a;</i>
                                </span>
                                <input asp-for="Value" class="form-control" />

                            </div>
                        </div>

                        <hr>
                        <p>Total Fees<span class="float-end">0 USD</span></p>
                        <hr>
                        <div class="form-group">
                            <input type="submit" value="Continue" class="btn btn-primary" />
                        </div>                    </form>
                    <!-- Send Money Form end -->
                </div>
            </div>
        </div>
    </div>
</div>

